pydantic
hydra-core
wandb
tqdm
numpy
accelerate==1.10.0
diffusers==0.34.0
deepspeed==0.17.5
zarr  # legacy data build/conversion/visualization utilities
tensorstore
numba
transformers==5.6.2
peft
einops
ps3-torch
nvtx
h5py
pymodbus
bitsandbytes
datasets
pyarrow
decord
imageio
opencv-python
albumentations
vector_quantize_pytorch
PyRender
scipy 
matplotlib
seaborn
xformers==0.0.35 # for torch 2.10.0
websockets
scikit-learn
webdataset
# chumpy
#manotorch
#manopth
#pyrealsense2
#dex_retargeting
#mujoco
