<?xml version="1.0" encoding="UTF-8"?>
<!-- Version: 3.0 -->
<robot name="RuiYan_Hand_Right_Mimic">
  <joint name="hand2_joint_link_1_1" type="revolute">
    <origin xyz="0.0135 0.022 0.0398" rpy="3.1415927 0. -1.5707927"/>
    <parent link="hand2_link_base"/>
    <child link="hand2_link_1_1"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="0." upper="2.3559998" effort="340282346638528859811704183484516925440." velocity="5939047335254987724700441203225657344."/>
  </joint>
  <joint name="hand2_joint_link_1_2" type="revolute">
    <origin xyz="-0.0105 -0. -0.0107" rpy="-1.5707927 0. -3.1415925"/>
    <parent link="hand2_link_1_1"/>
    <child link="hand2_link_1_2"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="0." upper="0.698" effort="340282346638528859811704183484516925440." velocity="5939047335254987724700441203225657344."/>
  </joint>
  <joint name="hand2_joint_link_1_3" type="revolute">
    <origin xyz="0.040457 0.011223 -0. " rpy="-0. 0. -0.0000001"/>
    <parent link="hand2_link_1_2"/>
    <child link="hand2_link_1_3"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="0." upper="1.169" effort="340282346638528859811704183484516925440." velocity="5939047335254987724700441203225657344."/>
    <mimic joint="hand2_joint_link_1_2" multiplier="1.6749999523162842" offset="0.0" />
  </joint>
  <joint name="hand2_joint_link_1_4" type="fixed">
    <origin xyz="0.0289525 0.028477 0. " rpy="2.3561945 -1.5707911 2.3561945"/>
    <parent link="hand2_link_1_3"/>
    <child link="hand2_link_1_4"/>
  </joint>
  <joint name="hand2_joint_link_2_1" type="revolute">
    <origin xyz="-0.0035 0.029833 0.11095 " rpy="-3.1415923 1.4923 -1.5707922"/>
    <parent link="hand2_link_base"/>
    <child link="hand2_link_2_1"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="0." upper="1.518" effort="340282346638528859811704183484516925440." velocity="5939047335254987724700441203225657344."/>
  </joint>
  <joint name="hand2_joint_link_2_2" type="revolute">
    <origin xyz="-0.0419 0.001 0. " rpy="0. 0. 0."/>
    <parent link="hand2_link_2_1"/>
    <child link="hand2_link_2_2"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="0." upper="1.6229999" effort="340282346638528859811704183484516925440." velocity="5939047335254987724700441203225657344."/>
    <mimic joint="hand2_joint_link_2_1" multiplier="1.0" offset="0.0" />
  </joint>
  <joint name="hand2_joint_link_2_3" type="fixed">
    <origin xyz="-0.0416063 -0.0157651 0.0000874" rpy="1.6492926 0.0000036 -1.570796 "/>
    <parent link="hand2_link_2_2"/>
    <child link="hand2_link_2_3"/>
  </joint>
  <joint name="hand2_joint_link_3_1" type="revolute">
    <origin xyz="-0.0035 0.009945 0.112 " rpy="-3.1415923 1.5446 -1.5707922"/>
    <parent link="hand2_link_base"/>
    <child link="hand2_link_3_1"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="0." upper="1.5709999" effort="340282346638528859811704183484516925440." velocity="5939047335254987724700441203225657344."/>
  </joint>
  <joint name="hand2_joint_link_3_2" type="revolute">
    <origin xyz="-0.0519 0.001 0. " rpy="0. 0. 0."/>
    <parent link="hand2_link_3_1"/>
    <child link="hand2_link_3_2"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="0." upper="1.6409999" effort="340282346638528859811704183484516925440." velocity="5939047335254987724700441203225657344."/>
    <mimic joint="hand2_joint_link_3_1" multiplier="1.0" offset="0.0" />
  </joint>
  <joint name="hand2_joint_link_3_3" type="fixed">
    <origin xyz="-0.0426192 -0.015904 0.0000652" rpy="1.5969926 0.0000036 -1.5707963"/>
    <parent link="hand2_link_3_2"/>
    <child link="hand2_link_3_3"/>
  </joint>
  <joint name="hand2_joint_link_4_1" type="revolute">
    <origin xyz="-0.0035 -0.009945 0.11099 " rpy="-0.0000086 1.5446 1.5707914"/>
    <parent link="hand2_link_base"/>
    <child link="hand2_link_4_1"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="0." upper="1.5709999" effort="340282346638528859811704183484516925440." velocity="5939047335254987724700441203225657344."/>
  </joint>
  <joint name="hand2_joint_link_4_2" type="revolute">
    <origin xyz="-0.0419 0.001 0. " rpy="0. 0. 0."/>
    <parent link="hand2_link_4_1"/>
    <child link="hand2_link_4_2"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="0." upper="1.6579999" effort="340282346638528859811704183484516925440." velocity="5939047335254987724700441203225657344."/>
    <mimic joint="hand2_joint_link_4_1" multiplier="1.0" offset="0.0" />
  </joint>
  <joint name="hand2_joint_link_4_3" type="fixed">
    <origin xyz="-0.0437206 -0.0156348 0.0001176" rpy="1.5446 0.0000036 -1.5707963"/>
    <parent link="hand2_link_4_2"/>
    <child link="hand2_link_4_3"/>
  </joint>
  <joint name="hand2_joint_link_5_1" type="revolute">
    <origin xyz="-0.0035 -0.029624 0.10795 " rpy="-0.0000079 1.4923 1.5707921"/>
    <parent link="hand2_link_base"/>
    <child link="hand2_link_5_1"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="0." upper="1.5449999" effort="340282346638528859811704183484516925440." velocity="5939047335254987724700441203225657344."/>
  </joint>
  <joint name="hand2_joint_link_5_2" type="revolute">
    <origin xyz="-0.0369 0.001 0. " rpy="0. 0. 0."/>
    <parent link="hand2_link_5_1"/>
    <child link="hand2_link_5_2"/>
    <axis xyz="0. 0. 1."/>
    <limit lower="0." upper="1.6579999" effort="340282346638528859811704183484516925440." velocity="5939047335254987724700441203225657344."/>
    <mimic joint="hand2_joint_link_5_1" multiplier="1.0" offset="0.0" />
  </joint>
  <joint name="hand2_joint_link_5_3" type="fixed">
    <origin xyz="-0.0404732 -0.0155 0.0003224" rpy="1.4923002 0.0000036 -1.570796 "/>
    <parent link="hand2_link_5_2"/>
    <child link="hand2_link_5_3"/>
  </joint>
  <joint name="hand2_root_joint" type="fixed">
    <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
    <parent link="RuiYan_Hand_Right"/>
    <child link="hand2_link_base"/>
  </joint>
  <link name="RuiYan_Hand_Right"/>
  <link name="hand2_link_1_1">
    <inertial>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <mass value="0.0122865"/>
      <inertia ixx="0.001" ixy="0." ixz="0." iyy="0.001" iyz="0." izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="3.1415927 0. -3.1415925"/>
      <geometry>
        <mesh filename="meshes/hand2_link_1_1_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="3.1415927 0. -3.1415925"/>
      <geometry>
        <mesh filename="meshes/hand2_link_1_1_collisions.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="hand2_link_1_2">
    <inertial>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <mass value="0.0125498"/>
      <inertia ixx="0.001" ixy="0." ixz="0." iyy="0.001" iyz="0." izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="-0. 0. 0." rpy="-0. 0. -0.0000001"/>
      <geometry>
        <mesh filename="meshes/hand2_link_1_2_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0. 0. 0." rpy="-0. 0. -0.0000001"/>
      <geometry>
        <mesh filename="meshes/hand2_link_1_2_collisions.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="hand2_link_1_3">
    <inertial>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <mass value="0.0076685"/>
      <inertia ixx="0.001" ixy="0." ixz="0." iyy="0.001" iyz="0." izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0.036284 0.0268 0. " rpy="2.7547064 1.5707927 3.1230462"/>
      <geometry>
        <mesh filename="meshes/hand2_link_1_3_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.036284 0.0268 0. " rpy="2.7547064 1.5707927 3.1230462"/>
      <geometry>
        <mesh filename="meshes/hand2_link_1_3_collisions.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="hand2_link_1_4">
    <visual>
      <origin xyz="0. 0. 0." rpy="-0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/hand2_link_1_4_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="-0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/hand2_link_1_4_collisions.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="hand2_link_2_1">
    <inertial>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <mass value="0.0100639"/>
      <inertia ixx="0.001" ixy="0." ixz="0." iyy="0.001" iyz="0." izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="3.1415925 -0. -3.1415925"/>
      <geometry>
        <mesh filename="meshes/hand2_link_2_1_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="3.1415925 -0. -3.1415925"/>
      <geometry>
        <mesh filename="meshes/hand2_link_2_1_collisions.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="hand2_link_2_2">
    <inertial>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <mass value="0.0035861"/>
      <inertia ixx="0.001" ixy="0." ixz="0." iyy="0.001" iyz="0." izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="-0.043692 -0.011217 -0. " rpy="1.5707649 -1.5694997 -1.5872649"/>
      <geometry>
        <mesh filename="meshes/hand2_link_2_2_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.043692 -0.011217 -0. " rpy="1.5707649 -1.5694997 -1.5872649"/>
      <geometry>
        <mesh filename="meshes/hand2_link_2_2_collisions.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="hand2_link_2_3">
    <visual>
      <origin xyz="-0. 0. -0." rpy="0. 0. -0."/>
      <geometry>
        <mesh filename="meshes/hand2_link_2_3_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0. 0. -0." rpy="0. 0. -0."/>
      <geometry>
        <mesh filename="meshes/hand2_link_2_3_collisions.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="hand2_link_3_1">
    <inertial>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <mass value="0.0082987"/>
      <inertia ixx="0.001" ixy="0." ixz="0." iyy="0.001" iyz="0." izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="3.1415927 -0. -3.1415927"/>
      <geometry>
        <mesh filename="meshes/hand2_link_3_1_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="3.1415927 -0. -3.1415927"/>
      <geometry>
        <mesh filename="meshes/hand2_link_3_1_collisions.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="hand2_link_3_2">
    <inertial>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <mass value="0.003586"/>
      <inertia ixx="0.001" ixy="0." ixz="0." iyy="0.001" iyz="0." izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="-0.043641 -0.01141 -0. " rpy="1.570527 -1.5704999 -1.582627 "/>
      <geometry>
        <mesh filename="meshes/hand2_link_3_2_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.043641 -0.01141 -0. " rpy="1.570527 -1.5704999 -1.582627 "/>
      <geometry>
        <mesh filename="meshes/hand2_link_3_2_collisions.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="hand2_link_3_3">
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/hand2_link_3_3_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/hand2_link_3_3_collisions.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="hand2_link_4_1">
    <inertial>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <mass value="0.0100639"/>
      <inertia ixx="0.001" ixy="0." ixz="0." iyy="0.001" iyz="0." izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="3.1415927 -0. -3.1415927"/>
      <geometry>
        <mesh filename="meshes/hand2_link_4_1_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="3.1415927 -0. -3.1415927"/>
      <geometry>
        <mesh filename="meshes/hand2_link_4_1_collisions.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="hand2_link_4_2">
    <inertial>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <mass value="0.0035859"/>
      <inertia ixx="0.001" ixy="0." ixz="0." iyy="0.001" iyz="0." izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="-0. -0. -0." rpy="-3.1415927 0. 3.1415927"/>
      <geometry>
        <mesh filename="meshes/hand2_link_4_2_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0. -0. -0." rpy="-3.1415927 0. 3.1415927"/>
      <geometry>
        <mesh filename="meshes/hand2_link_4_2_collisions.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="hand2_link_4_3">
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/hand2_link_4_3_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/hand2_link_4_3_collisions.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="hand2_link_5_1">
    <inertial>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <mass value="0.0087057"/>
      <inertia ixx="0.001" ixy="0." ixz="0." iyy="0.001" iyz="0." izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="3.1415927 -0. -3.1415927"/>
      <geometry>
        <mesh filename="meshes/hand2_link_5_1_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="3.1415927 -0. -3.1415927"/>
      <geometry>
        <mesh filename="meshes/hand2_link_5_1_collisions.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="hand2_link_5_2">
    <inertial>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <mass value="0.0035859"/>
      <inertia ixx="0.001" ixy="0." ixz="0." iyy="0.001" iyz="0." izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="-0.043691 -0.011217 0. " rpy="-1.570798 -1.5695001 1.554298 "/>
      <geometry>
        <mesh filename="meshes/hand2_link_5_2_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.043691 -0.011217 0. " rpy="-1.570798 -1.5695001 1.554298 "/>
      <geometry>
        <mesh filename="meshes/hand2_link_5_2_collisions.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="hand2_link_5_3">
    <visual>
      <origin xyz="0. -0. -0." rpy="-0.0000001 0. -0. "/>
      <geometry>
        <mesh filename="meshes/hand2_link_5_3_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. -0. -0." rpy="-0.0000001 0. -0. "/>
      <geometry>
        <mesh filename="meshes/hand2_link_5_3_collisions.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
  <link name="hand2_link_base">
    <inertial>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <mass value="0.2115691"/>
      <inertia ixx="0.001" ixy="0." ixz="0." iyy="0.001" iyz="0." izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/hand2_link_base_visuals.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0." rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="meshes/hand2_link_base_collisions.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
</robot>
